.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
  border-radius: 50%;
  background-color: #292929;
}
